/* Write your CSS here */
.bg-main-container {
    background-image: linear-gradient(to bottom, #fbc7d4, #9796f0);
    height: 180vh;
    padding: 20px;
  }
  .bg-container1 {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 16px;
  }
  .appointmens-container {
  }
  .title {
    color: #b5b7c4;
    font-weight: 500;
  }
  h1 {
    color: #171f46;
  }
  .inputTitle {
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    width: 90%;
    margin-top: 5px;
  }
  * {
    font-family: 'Roboto';
  }
  @media (min-width: 767px) {
    .form-container {
      width: 90%;
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
  .buttonEle {
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    background-color: #9897f0;
    color: white;
    width: 80px;
    border-width: 0px;
    margin-top: 10px;
    cursor: pointer;
  }
  .bg-container21 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .buttenEl2 {
    color: #9897f0;
    background-color: transparent;
    border-radius: 20px;
    padding: 10px;
    height: 25px;
    border-color: #9897f0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  @media (min-width: 576px) {
    ul {
      display: flex;
      flex-wrap: wrap;
    }
  }
.main-heding{
  color: #454482;
  font-size: 50px;
  font-weight:550;
}